
<div id="allPage">
  <div class="navbarHolder" [style]="{backgroundColor: color}">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container container-fluid">
        <a class="navbar-brand" href="#">SimpleCV</a>
        <button class="navbar-toggler" type="button" (click)="openCloseNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="justify-content-end" id="navbarNav" [style]="{backgroundColor: color, maxHeight: h}">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Layouts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">Login</a>-->
<!--            </li>-->
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="BG">
    <div class="routerSize">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://mdbootstrap.com/"> SimpleCV.pt</a>
    </div>
    <!-- Copyright -->

  </div>
</div>


