
<div id="createCV">

  <div #contImgs class="container" *ngIf="stateCreation === 0">
    <div class="row">
      <div class="col-12">
        <drag-scroll [snap-disabled]="true" [style]="{height: imgHlayoutsCont + 'px'}">
          <img [style]="{width: imgWlayouts + 'px'}" drag-scroll-item src="assets/img/cvP.gif" (click)="changeTemplate('f1')"/>
          <img [style]="{width: imgWlayouts + 'px'}" drag-scroll-item src="assets/img/cvP.gif" />
          <img [style]="{width: imgWlayouts + 'px'}" drag-scroll-item src="assets/img/cvP.gif" />
          <img [style]="{width: imgWlayouts + 'px'}" drag-scroll-item src="assets/img/cvP.gif" />
          <img [style]="{width: imgWlayouts + 'px'}" drag-scroll-item src="assets/img/cvP.gif" />
        </drag-scroll>
        <div class="btnCreate">
          <div class="btn btn-1" (click)="selectTemplate()">
            Crie o seu CV
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="stateCreation === 1">
    <div class="row formCV">
      <div class="col-12 col-lg-7">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                            <form [formGroup]="checkoutForm">

                              <div>
                                <label for="name">
                                  Nome
                                </label>
                                <input id="name" type="text" formControlName="name" (focusout)="getTemplateRender()">
                              </div>

                              <div>
                                <label for="address">
                                  Morada
                                </label>
                                <input id="address" type="text" formControlName="address" (focusout)="getTemplateRender()">
                              </div>

                              <div>
                                <label for="phone">
                                  Telemovel
                                </label>
                                <input id="phone" type="text" formControlName="phone" (focusout)="getTemplateRender()">
                              </div>

                              <div>
                                <label for="email">
                                  E-mail
                                </label>
                                <input id="email" type="text" formControlName="email" (focusout)="getTemplateRender()">
                              </div>


                            </form>
<!--                            <div (click)="captureScreen()">Click</div>-->

<!--                <div class="example-container">-->
<!--                  <h2>To do</h2>-->

<!--                  <div-->
<!--                    cdkDropList-->
<!--                    #todoList="cdkDropList"-->
<!--                    [cdkDropListData]="todo"-->
<!--                    [cdkDropListConnectedTo]="[doneList]"-->
<!--                    class="example-list"-->
<!--                    (cdkDropListDropped)="drop($event)">-->
<!--                    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
<!--          <div class="col-12">-->
<!--            <div class="card">-->
<!--              <div class="card-body">-->
<!--                &lt;!&ndash;            <form [formGroup]="checkoutForm">&ndash;&gt;-->

<!--                &lt;!&ndash;              <div>&ndash;&gt;-->
<!--                &lt;!&ndash;                <label for="name">&ndash;&gt;-->
<!--                &lt;!&ndash;                  Name&ndash;&gt;-->
<!--                &lt;!&ndash;                </label>&ndash;&gt;-->
<!--                &lt;!&ndash;                <input id="name" type="text" formControlName="name" (focusout)="changeData()">&ndash;&gt;-->
<!--                &lt;!&ndash;              </div>&ndash;&gt;-->

<!--                &lt;!&ndash;              <div>&ndash;&gt;-->
<!--                &lt;!&ndash;                <label for="address">&ndash;&gt;-->
<!--                &lt;!&ndash;                  Address&ndash;&gt;-->
<!--                &lt;!&ndash;                </label>&ndash;&gt;-->
<!--                &lt;!&ndash;                <input id="address" type="text" formControlName="address">&ndash;&gt;-->
<!--                &lt;!&ndash;              </div>&ndash;&gt;-->

<!--                &lt;!&ndash;              <button class="button" type="submit">Purchase</button>&ndash;&gt;-->

<!--                &lt;!&ndash;            </form>&ndash;&gt;-->
<!--                &lt;!&ndash;            <div (click)="captureScreen()">Click</div>&ndash;&gt;-->
<!--                <div class="example-container">-->
<!--                  <h2>Done</h2>-->

<!--                  <div-->
<!--                    cdkDropList-->
<!--                    #doneList="cdkDropList"-->
<!--                    [cdkDropListData]="done"-->
<!--                    [cdkDropListConnectedTo]="[todoList]"-->
<!--                    class="example-list"-->
<!--                    (cdkDropListDropped)="drop($event)">-->
<!--                    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-5">
        <div>
          <div class="zoomIcon" (click)="cvView = !cvView"><fa-icon [icon]="faSearch"></fa-icon></div>
          <iframe class="cvView" frameBorder="0" [srcdoc]="htmlSrc"></iframe>
        </div>
      </div>
    </div>
  </div >
  <div class="cvOverlay" [ngStyle]="{'display': cvView ? 'block' : 'none'}" (click)="cvView = !cvView">
    <iframe class="cvViewOnOverlay" frameBorder="0" [srcdoc]="htmlSrc" [ngClass]="cvView ? 'cvViewHover' : ''"></iframe>
  </div>
</div>


<!--<app-template-cv #apptemplate></app-template-cv>-->
