
#createCV{
  margin-top: 100px;
}

#createCV .card{
  /*width: 70%;*/
  border: 0;
  background-color: aliceblue;
  -webkit-box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.3);
  box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.3);
}

.formCV{
  margin-top: 40px;
}

drag-scroll {
  width: 100%;
  /*height: auto;*/
  text-align: center;
}
drag-scroll img{
  margin-top: 20px;
  -webkit-box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.3);
  box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.3);
}
img {
  margin-right: 20px;
}

.zoomIcon{
  position: absolute;
  top: 5px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: aliceblue;
  text-align: center;
  right: 25px;
  z-index: 1;
  box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.3);
}

.cvView{
  -ms-zoom: 0.65;
  -moz-transform: scale(0.65);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.65);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.65);
  -webkit-transform-origin: 0 0;
  position: absolute;
  left: 70px;
  top: 0px;
  width: 595px;
  height: 842px;
  pointer-events: none;
  box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.3);
}

.cvOverlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.cvViewOnOverlay{
  position: absolute;
  left: 50%;
  top: 53%;
  width: 595px;
  height: 893px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


@media (max-width: 1200px) {
  .cvView{
    left: 0px;
  }
}

@media (max-width: 992px) {
  .cvView{
    display: none;
  }
}
