/* You can add global styles to this file, and also import other style files */

@import "assets/scss/components/icons/remixicon";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.item-in-component {
  padding: 10px;
  background-color: #f3f3f3;
}
