
<div id="home">

  <div class="container cvImg">
    <div class="row">
      <div class="col-12 col-lg-6 order-lg-12">
        <div class="person">
          <h2>Create your curriculum vitae</h2>
          <img src="assets/img/person.gif">
        </div>
        <div class="row iconsCode" *ngIf="icons">
          <div class="col-2 offset-2">
            <img src="assets/img/angular.png">
          </div>
          <div class="col-2">
            <img src="assets/img/bootstrap.png">
          </div>
          <div class="col-2">
            <img src="assets/img/node.png">
          </div>
          <div class="col-2">
            <img src="assets/img/puppeteer.png">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="cvContainer">
          <div class="card">
            <div class="card-body">
              <img src="assets/img/cvP.gif">
            </div>
          </div>
        </div>
        <div class="btnCreate">
          <div class="btn btn-1" (click)="goTo('/createCV')">
            Let's beginning!
          </div>
        </div>
      </div>
    </div>
    <div class="row iconsCode" *ngIf="!icons">
      <div class="col-2 offset-2">
        <img src="assets/img/angular.png">
      </div>
      <div class="col-2">
        <img src="assets/img/bootstrap.png">
      </div>
      <div class="col-2">
        <img src="assets/img/node.png">
      </div>
      <div class="col-2">
        <img src="assets/img/puppeteer.png">
      </div>
    </div>
  </div>

</div>



