
<div id="home">

  <div class="container cvImg">
    <div class="row">
      <div class="col-12 col-lg-6 order-lg-12">
        <div class="person">
          <h2>Crie o seu curriculum vitae</h2>
          <img src="assets/img/person.gif">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="cvContainer">
          <div class="card">
            <div class="card-body">
              <img src="assets/img/cvP.gif">
            </div>
          </div>
        </div>
        <div class="btnCreate">
          <div class="btn btn-1" (click)="goTo('/createCV')">
            Crie o seu CV
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



